/* Common */
body {
  width: 400px;
  height: fit-content;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.top .icon {
  width: 40px;
  height: 40px;
}
.title {
  margin: 0;
  padding-top: 13px;
  padding-left: 10px;
  font-size: 20px;
  color: red;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.5px;
}
#auth,
#unauth {
  display: none; /* デフォルトでは何も表示しない */
}

/* Login */
#loginForm {
  width: 100%;
}
#loginForm input {
  width: 250px;
  display: block;
  margin: 20px auto;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}
#loginButton {
  position: relative;
  height: 36px;
  width: 150px;
  background-image: none;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  margin: 25px auto;
  font-size: 20px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  display: block;
  width: 24px;
  height: 24px;
  background: transparent;
  box-sizing: border-box;
  border-top: 3px solid white;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 100%;
  animation: spin 0.8s ease-out infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Auth */
.msg {
  display: flex;
  margin: auto;
  width: fit-content;
  align-items: center;
  margin-top: 15px;
}
.msg .msg-icon {
  margin-top: 0;
  margin-bottom: 0;
}
.msg .msg-text {
  color: #4cbf50;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
#saveForm {
  width: 100%;
}
#saveForm input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
  width: 250px;
  display: block;
  margin: 10px auto;
  height: 24px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Noto Sans JP", sans-serif;
}
.form-header {
  width: 272px;
  margin: 20px auto 5px;
}
.radios {
  width: 272px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
.radios input {
  width: 25px;
  height: 16px;
  display: block;
  margin: 0;
  margin-top: 2px;
}
.radios label {
  width: 100px;
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
}
#saveButton {
  position: relative;
  height: 36px;
  width: 150px;
  background-image: none;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  margin: 30px auto;
  font-size: 20px;
  font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
  font-stretch: condensed;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-wrapper {
  margin-bottom: 15px;
  width: 272px;
  display: flex;
  margin: auto;
  align-items: center;
}
.check-wrapper input {
  width: 25px;
  height: 16px;
  display: block;
  margin: 0;
  margin-top: 2px;
}
.check-wrapper label {
  width: 200px;
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
}
